{% extends "base.html" %}

{% block title %}
  Технологии
{% endblock %}

{% block content %}
  <div class="container py-5">
    <div class="row">
      <h3>Вот что я умею</h3>
      <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Python
          </li>
          <li class="list-group-item">
            Django 2.2
          </li>
          <li class="list-group-item">
            unittest - тестирование
          </li>
          <li class="list-group-item">
            bootstrap - стили и оформление
          </li>
          <li class="list-group-item">
            git - система контроля версий
          </li>
        </ul>
      </aside>
      <article class="col-12 col-md-9">
        <p>Текст страницы "Технологии"</p>
        <p># backend_community_homework</p>

        <p># Авторские посты</p>
        <p>### Описание</p>
        <p>Благодаря этому проекту можно будет делится постами с друзьми и узнавать что-то новое.</p>
        <p>### Технологии</p>
        <p>Python 3.7</p>
        <p>Django 2.2.19</p>
        <p>### Запуск проекта в dev-режиме</p>
        <p> - Установите и активируйте виртуальное окружение;</p>
        <p>- Установите зависимости из файла requirements.txt;</p>
        <p>```</p>
        <p>pip install -r requirements.txt</p>
        <p> ```</p>
        <p> - В папке с файлом manage.py выполните команду:</p>
        <p> ```</p>
        <p>python manage.py runserver</p>
        <p>```</p>
        <p>или</p>
        <p>```</p>
        <p>python3 manage.py runserver</p>
        <p> ```
        <p>### Структура проекта</p>
        <p> - На главной странице отображаются последние 10 авторских постов;</p>
        <p> - Можно группировать посты;</p>
        <p> - Выводить посты по группам можно одним нажатием на строку:</p>
        <p> _"все записи группы"_</p>

        <p> ### Авторы</p>
        <p>Сергей</p>
        </article>
    </div>
  </div>
{% endblock %} 