{% extends "base.html" %}

{% block title %}
  Технологии
{% endblock %}

{% block content %}
  <div class="container py-5">
    <div class="row">
      <h3>Вот что я умею</h3>
      <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Python
          </li>
          <li class="list-group-item">
            Django 2.2
          </li>
          <li class="list-group-item">
            bootstrap - стили и оформление
          </li>
          <li class="list-group-item">
            git - система контроля версий
          </li>
        </ul>
      </aside>
      <article class="col-12 col-md-9">
        <p>Текст страницы "Технологии"</p>
      </article>
    </div>
  </div>
{% endblock %} 