{% extends 'base.html' %}

{% block title %}
  {{ group }}
{% endblock %}

{% block content %}
  <div class="container py-5">
    <h1>{{ group.title }}</h1>
    <p>
      <b>Описание группы:</b> {{ group.description|linebreaks }}
    </p>
    <p>
      <b>Всего постов в группе:</b>  {{ group.posts.count }}
    </p>
    {% for post in page_obj %}
      {% include 'posts/includes/posts.html' with non_group=True %}
      {% if not forloop.last %} <hr> {% endif %}
    {% endfor %}
    {% include 'posts/includes/paginator.html' %}
  </div>
{% endblock %}