{% extends "base.html" %}

{% block title %}
  {{ post.text|truncatechars:30 }}
{% endblock %}

{% block content %}
  <div class="container py-5">
    {% include 'posts/includes/posts.html' with non_detail=True %}
  </div>
  <div class="container">
    <br>
    <a>
      Колличество комментариев: {{ post.comments.count }}
    </a>
    {% include 'posts/includes/add_comments.html'%}
    {% for comment in post.comments.all %}
      {% include 'posts/includes/comments.html'%}
    {% endfor %}
  </div>   
{% endblock %}