{% extends 'base.html' %}

{% block title %}
  Профиль пользователя {{ author.username }}
{% endblock %}

{% block content %}
  <div class="container py-5">
    <div class="mb-5">
      <h1>Все посты пользователя {{ author.get_full_name }}</h1>
      <h5>Всего постов:  {{ author.posts.count }}</h5>
      <h6>Всего подписчиков: {{ author.following.count }} </h6>
      <h6>Всего подписок: {{ author.follower.count }} </h6>
      {% if user != author and user.is_authenticated %}
        {% if following %}
          <a
            class="btn btn-lg btn-light"
            href="{% url 'posts:profile_unfollow' author.username %}" role="button"
          >Отписаться</a>
        {% else %}
          <a
            class="btn btn-lg btn-primary"
            href="{% url 'posts:profile_follow' author.username %}" role="button"
          >Подписаться</a>
        {% endif %}
      {% endif %}
      {% for post in page_obj %}
        {% include 'posts/includes/posts.html' with non_author=True%}
        {% if not forloop.last %} <hr> {% endif %}
      {% endfor %}
      {% include 'posts/includes/paginator.html' %}
    </div>
  </div>
{% endblock content %}